
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba( 0, 0, 0 , 0.15);
    
}

html {
    background-color:  white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
    
}

header {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-image: linear-gradient(rgba( 0, 0, 0 , 0.15), #000), url(../img/background.jpg);
    background-repeat: no-repeat;
    
}
.btn btn-full {
    height: 200%;
    width: 300%;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-size: 125%;
    
}

.main-nav {
    
    float: right;
    list-style: none;
    margin-top: 55px;
}
    
.logo {
    font-size: 350%;
    color: white;
    font-weight: 300;
    width: auto;
    float: left;
    margin-top: 20px auto;
    
}
.main-nav a {
    text-decoration: none;
    color: white;
    
}
header ul {
    color: white;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,h2,h3,h4 {
    
    margin-top: 0;
    text-align: center;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h1 {
    color:white;
}

h2{
    color: 2a3134;
    margin-top: 10%;
    margin-bottom: 5%;
       
}

h3 {
    margin-top: 10%;
    margin-bottom: 15%;
}
h4 {
    margin-top: 10%;
    margin-bottom: 10%
}
p {
    color: black;
    font-size: 95%;
    text-align: center;
}

b { 
color: blue;
}


.skill-img{
    vertical-align: middle;
    width: 100px;
    margin-bottom: 10px;
    border: 0;
    margin-left: 30%;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    
}

.skill-img p {
display: inline-block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    
}























   
    